Helios/Schemas/ConfigSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cfg="http://fortmp.dev/config" targetNamespace="http://fortmp.dev/config" elementFormDefault="qualified">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DatabaseConnectionUrl" type="xs:string"/>
                <xs:element name="JWTClientSecret" type="xs:string"/>
                <xs:element name="GameDirectory" type="xs:string" />
                <xs:element name="CurrentVersion" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
